/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/keys.h>

#define macro   0

/{
    keymap {
        compatible = "zmk,keymap";
        macro {
            bindings = <
                &kp 1   &kp Q     &kp W
                &kp 2   &kp A     &kp S     
            >;
        };
    };
};
